    .id_user,
    .id_message {
        display: none;
    }
    
    .messageAll {
        background-color: rgb(241, 245, 247);
    }
    
    .coments {
        text-align: right;
    }
    
    .reg {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .comentsAll1 {
        margin-left: 10%;
        background-color: rgb(207, 233, 224);
        width: 80%;
    }
    
    .addComents {
        margin-left: 20%;
        background-color: rgb(245, 220, 235);
        width: 70%;
    }
    
    .addComents2 {
        margin-left: 3%;
        width: 69%;
    }
    
    .synopsis {
        width: 80%;
    }
    
    .message {
        height: 90px;
        width: 85%;
        margin-top: 0;
    }